<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <appSettings>
    <add key="ClientId" value="79650097-a533-4654-bb6e-203f0c126abc" />
    <add key="ClientSecret" value="mpszauzp7JNgbKShjZ13rxrFZC0puewOaZowGQwOI9Y=" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="https://verificationservice.officeapps.live.com/ova/verificationagent.svc" binding="basicHttpBinding" bindingConfiguration="OvaHttps" contract="OfficeStoreVerificationService.IVerificationService" name="OvaHttps" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
        <binding name="OvaHttps">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>